[Desktop Entry]
Name=Heroes of Might and Magic 2
Comment=Fantasy turn-based strategy game
Icon=/usr/share/pixmaps/homm2.png
Exec=homm2
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true

GenericName=
