[Desktop Entry]
Name=Heroes of Might and Magic
Comment=Fantasy turn-based strategy game
Icon=/usr/share/pixmaps/homm.png
Exec=gog-dosbox-launcher heroes_of_might_and_magic homm.conf
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true

GenericName=
